<h3>Login</h3>
{{login_error}}
<form action="/" method="post">
  <input name="email" id="login_email" type="text" placeholder="email" autofocus/>
  <input name="password" id="login_password" type="password" placeholder="password"/>
  <input type="submit" />
</form>
<h3>Signup</h3>
<div id = "signup_error">{{signup_error}}</div>
<form action="/signup" id="signup_form" method="post" >
  <input name="name" id="signup_name" type="text" placeholder="name"/>
  <input name="email" id="signup_email" type="text" placeholder="email"/>
  <input name="password" id="signup_password" type="password" placeholder="password"/>
  <input name="password2" id="signup_confirm_password" type="password" placeholder="confirm password"/>
  <input name="benefit" id="signup_benefit" type="textarea" 
    placeholder="Put the benefits you're willing to share here"/>
  <input type="submit" value="submit"/>
</form>
<script type="text/javascript">
  var form = document.getElementById("signup_form");
  form.addEventListener("submit", function(event) {
    if (!checkfields()) event.preventDefault();
  });
  function checkfields(){
    var errorDiv = document.getElementById("signup_error");
	  var name = document.getElementById("signup_name").value;
		var email = document.getElementById("signup_email").value;
		var password = document.getElementById("signup_password").value;
		var password2 = document.getElementById("signup_confirm_password").value;
		var benefit = document.getElementById("signup_benefit").value;
		for (var i=0; i<form.elements.length; i++){
			if (form.elements[i].value == "") {
				errorDiv.innerHTML = "Please fill in all fields";
				return false;
			}
	  }
	  if (password != password2){
	  	errorDiv.innerHTML = "Passwords don't match";
			return false;
	  }
	  return true;
  }
</script>